body{ /*gör så man kan ändra utseendet på elementet body*/

    background-color: #ccc; /*ändra bakgrunds färgen på bodyn*/
}

.START{ /* ändra utseendet och egenskaper för elementet med klassen START*/

    color:black; /*ändra utseendet på text färgen*/
}

header{ /*ändra utseendet och egenskaperna på elementet <header>*/

    background-color:#333; /*ändra bakgrunds färgen på headern*/
}

.header-container { /*ändra utseendet och egenskaperna på elementet som har classen .header-container*/

    background-color: #ff0101; /*ändra bakgrunds färgen*/
    margin-top: 30px; /* används för att styra det tomma utrymmet (marginalen) överför ett element. I det här fallet, kommer det att skapa en tom yta på 30 pixlar ovanför det aktuella elementet.*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Skapar en subtil skugga under elementet med en liten vertikal förskjutning och spridningseffekt, vilket ger en känsla av lyft från bakgrunden */

}

nav ul { /*Tillämpar stilar på ul-element som är en del av nav-elementet */


    list-style-type: none; /* Tar bort punktliststilen från ul-element som är en del av nav-elementet */

    padding: 15px;/* Tillämpar 15 pixlar av utfyllnad runt elementet */

    margin: 15px; /* Tillämpar 15 pixlar av marginal runt elementet */

    columns: 4px; /* Delar upp innehållet i kolumner med en bredd på 4 pixlar */

    column-gap: 100px; /* Sätter ett mellanrum på 100 pixlar mellan kolumnerna */

    display: flex; /* Använder flexbox-modellen för layout av element */

    justify-content: center; /* Centrerar flex-element horisontellt */

}

nav li { /* Tillämpar stilar på li-element som är en del av nav-elementet */

    display: inline-block; /* Gör li-elementet till en inline-block, vilket tillåter andra element att ligga bredvid det och behåller dess blockegenskaper */

    margin-right: 30px; /* Sätter ett marginalavstånd på 30 pixlar till höger om li-elementet */

}

.start{ /* ändra utseendet och egenskaperna för elementet med classen start*/

    color:black; /*ändra text färgen till svart*/
}

nav a { /* Tillämpar stilar på a-element som är en del av nav-elementet*/

    display: block; /* Gör elementet till ett blockelement, vilket innebär att det kommer att ta upp hela tillgängliga bredden och börja på en ny rad */

    text-decoration: none; /* Tar bort understrykning eller annan textdekoration från länkar */

    color:white; /*ändra text färgen för länkarna till vitt*/

    padding: 5px 10px; /* Tillämpar 5 pixlar av utfyllnad över och under samt 10 pixlar till vänster och höger om elementet */

}


nav a:hover { /* Tillämpar stilar på länkar när muspekaren svävar över dem, inom nav-elementet */

    background-color:#a50000; /*ändra bakgrunds färgen när muspekaren är över länkarna inom nav-elementet*/
}

h2{ /* Tillämpar stilar på alla h2-element */

    display:flex; /* Använder flexbox-modellen för layout av element inom h2-elementet */

    justify-content: center; /* Centrerar flex-element horisontellt inom h2-elementet */

    color:#000000; /*ändra färgen på h2-elementet*/
}

p{ /*ändra egenskaper och utseenden på alla p-element*/

    color:#000000 /* Tillämpar svart textfärg på alla p-element */

}

.main-container {/* Tillämpar stilar på element med classen "main-container" */

    display: grid; /* Använder grid-layoutmodellen för layout av element med klassen "main-container" */

    grid-template-columns: 1fr 1fr; /* Delar upp huvudinnehållet i två kolumner med lika stor bredd */

    grid-gap: 20px; /* Sätter ett mellanrum på 20 pixlar mellan grid-elementen */

    padding: 20px; /* Tillämpar 20 pixlar av utfyllnad runt elementet */

}

.left-column,
.right-column { /* Tillämpar stilar på element med classerna "left-column" och "right-column" */

    background-color: #ccc; /*ändra bakgrund färgen på elementen med classerna left-column och right-column*/
    
    padding: 20px; /* Tillämpar 20 pixlar av utfyllnad runt elementet */
}

.left-column iframe,
.right-column iframe{ /* Tillämpar stilar på iframe-element inuti element med classerna "left-column" och "right-column" */

    width: 100%; /* Sätter bredden på iframe-elementet till 100% av dess förälders bredd */

    height: 300px; /* Sätter höjden på iframe-elementet till 300 pixlar */

    border:none; /* Tar bort alla kanter från elementet */

} 

.Left-Column,
.Right-Column{ /* Tillämpar stilar på element med classerna "Left-Column" och "Right-Column" */

    background-color: #ccc; /* Sätter bakgrundsfärgen till grå för element med klasserna "Left-Column" och "Right-Column" */

    padding: 20px;/* Tillämpar 20 pixlar av utfyllnad runt elementen med classerna "Left-Column" och "Right-Column" */


}

.Left-Column iframe,
.Right-Column iframe{/* Tillämpar stilar på iframe-element inuti element med classerna "Left-Column" och "Right-Column" */

    width: 100%; /* Sätter bredden på iframe-elementet till 100% av dess förälders bredd */

    height: 300px; /* Sätter höjden på iframe-elementet till 300 pixlar */

    border:none; /* Tar bort alla kanter från elementet */

}

h4{ /* Tillämpar stilar på alla h4-element */

    color: #000000; /* Tillämpar svart textfärg på alla h4-element */

    font-family: Arial, Helvetica, sans-serif; /* Använder typsnitten Arial, Helvetica eller sans-serif för texten inuti h4-element */

}

a { /* Tillämpar stilar på alla länkar */

    display: block; /* Gör länken till ett blockelement för att kunna tillämpa padding och andra layoutegenskaper */

    text-decoration: none; /* Tar bort understrykning eller annan textdekoration från länkarna */

    color: #000000; /* Sätter svart textfärg på länkarna */

    padding: 5px 10px; /* Tillämpar 5 pixlar av utfyllnad (padding) över och under samt 10 pixlar till vänster och höger om länken */

    font-size: 18px; /* Sätter fontstorleken till 18 pixlar */

}

video{ /* Tillämpar stilar på alla video-element */

    width: 30em; /* Sätter bredden på videon till 30em */

    height: 20em; /* Sätter höjden på videon till 20em */

}

.mc{ /* Tillämpar stilar på alla element med klassen "mc" */

    width: 250px; /* Sätter bredden på element med klassen "mc" till 250 pixlar */

    height: 200px; /* Sätter höjden på element med klassen "mc" till 200 pixlar */
}

.for{ /* Tillämpar stilar på alla element med classen "for" */

    width: 250px; /* Sätter bredden på element med klassen "for" till 250 pixlar */

    height: 200px; /* Sätter höjden på element med klassen "for" till 200 pixlar */

    background-color: white; /* Sätter bakgrundsfärgen på element med klassen "for" till vit */

}

.pubg{ /* Tillämpar stilar på alla element med klassen "pubg" */

    width: 250px; /* Sätter bredden på element med klassen "pubg" till 250 pixlar */

    height: 200px; /* Sätter höjden på element med klassen "pubg" till 200 pixlar */

}

table { /* Tillämpar stilar på alla tabeller */

    width: 50%; /* Sätter bredden på tabellen till 50% av dess förälders bredd */

    margin: 20px auto; /* Centrerar tabellen horisontellt genom att sätta ett marginavstånd på 20 pixlar ovanför och under samt auto på sidorna */

    border-collapse: collapse; /* Slår samman gränserna mellan celler */

    justify-content: center;

}

th, td { /* Tillämpar stilar på alla th- och td-element */

    padding: 10px; /* Tillämpar 10 pixlar av utfyllnad (padding) runt texten inuti cellerna */

    text-align: left; /* Justerar texten till vänster inuti cellerna */

    border-bottom:1px solid #ffffff; /* Lägger till en gränslinje längst ner på varje cell med en tjocklek på 1 pixlar och en ljusgrå färg */

    justify-content: center;
}

th { /*ändra egenskaperna inom elementet th*/

    background-color: #ffffff; /* Tillämpar en vitt bakgrundsfärg på th-element */

}

tr:nth-child(even) { /* Tillämpar stilar på jämna rader (tr-element) i tabellen */

    background-color: #ffffff; /* Tillämpar en vit bakgrundsfärg på jämna rader (tr-element) i tabellen */
    
}

tr:hover { /* Tillämpar stilar på rader när muspekaren svävar över dem */

    background-color: #f2f2f2; /* Tillämpar en ljusgrå bakgrundsfärg på rader när muspekaren svävar över dem */

}

footer { /* Tillämpar stilar på footern */

    background-color: #333; /* Sätter bakgrundsfärgen till mörkgrå */

    color: white; /* Sätter textfärgen till vit */

    text-align: center; /* Centrerar texten */

    padding: 10px; /* Tillämpar 10 pixlar av utfyllnad (padding) runt texten */

    margin-top: auto; /* Placerar footern längst ned på sidan */

}

.footer-links { /* Tillämpar stilar på länklistan i footern */

    list-style-type: none; /* Tar bort punktliststilen från länklistan */

    display: flex; /* Använder flexbox-modellen för layout av länklistan */

    justify-content: center; /* Centrerar länklistan längs huvudaxeln (horisontellt) */

    align-items: center; /* Centrerar länklistan längs tväraxeln (vertikalt) */

    margin: 0; /* Tar bort eventuellt mellanrum runt länklistan */

    padding: 0; /* Tar bort eventuell padding runt länklistan */

}

.footer-links li { /* Tillämpar stilar på varje listelement (li) inuti länklistan i footern */

    margin: 0 10px; /* Sätter ett marginalavstånd på 0 pixlar till över och under samt 10 pixlar till höger och vänster om varje listelement */

}

.footer-links li a { /* Tillämpar stilar på länkarna inuti varje listelement (li) i länklistan i footern */

    color: #fff; /* Sätter textfärgen till vit för länkarna */

    text-decoration: none; /* Tar bort understrykning eller annan textdekoration från länkarna */

}
 
.footer-links li p { /* Tillämpar stilar på paragraferna inuti varje listelement (li) i länklistan i footern */

    margin: 0; /* Tar bort eventuellt mellanrum runt paragraferna */

    color: #ccc; /* Sätter textfärgen till ljusgrå för paragraferna */

}


.raft { /*tillämpa stilar på classen raft*/

width: 20px; /* Sätter bredden på elementet till 20 pixlar */

}

form, label{ /* Tillämpar stilar på både formulär och etiketter */

    color: rgb(0, 0, 0); /* Sätter textfärgen till svart för både formulär och etiketter */

}

form, input{ /* Tillämpar stilar på både formulär och input-element */

    color: rgb(0, 0, 0); /* Sätter textfärgen till svart för både formulär och input-element */

   
}

form, select{ /* Tillämpar stilar på både formulär och select-element */

    color: rgb(0, 0, 0); /* Sätter textfärgen till svart för både formulär och select-element */

}

option{ /* Sätter textfärgen till svart för option-element */

    color:#000000
}

.Tack{ /* ändra egenskaperna för classen "Tack"*/

    color: rgb(0,0,0); /* Sätter textfärgen till aqua för element med classen "Tack" */

}

.hoppas{ /* Tillämpar stilar på element med classen "tack" */

    color: rgb(0, 0, 0); /* Sätter textfärgen till aqua för element med classen "tack" */

    list-style-type: none; /* Tar bort punktliststilen från element med classen "tack" */

    display: flex; /* Använder flexbox-modellen för layout av element med classen "tack" */

    align-items: center; /* Centrerar element med classen "tack" längs tväraxeln (vertikalt) */

    justify-content: center; /* Centrerar element med classen "tack" längs huvudaxeln (horisontellt) */

}

.tack-container {
    text-align: center;
}
